In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

## Part 1: Scraping
### NASA Mars News

In [3]:
# Scrape the Mars News Site and collect the latest News Title and Paragraph Test.
news_url = "https://redplanetscience.com/"

# Visit the Mars News site
browser.visit(news_url)

In [4]:
# Convert the browser html to a soup object
html = browser.html
news_soup = soup(html, 'html.parser')

In [5]:
news_title = news_soup.select_one('div.list_text').find('div', class_ = 'content_title').get_text()
news_title

"Curiosity Mars Rover's Summer Road Trip Has Begun"

In [6]:
news_p = news_soup.select_one('div.list_text').find('div', class_ = 'article_teaser_body').get_text()
news_p

'After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.'

### JPL Mars Space Images - Featured Image

In [7]:
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

In [8]:
html = browser.html
img_soup = soup(html, 'html.parser')

In [9]:
# find the relative image url
img_rel_url = img_soup.find('img', class_='headerimage').get('src')
img_rel_url

'image/featured/mars3.jpg'

In [10]:
# The absolute image url
img_url = f'https://spaceimages-mars.com/{img_rel_url}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Mars Facts

In [11]:
facts_url = 'https://galaxyfacts-mars.com/'

In [12]:
profile_table = pd.read_html(facts_url)
profile_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
df = profile_table[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [14]:
df.columns = ['Properties', 'Mars', 'Earth']
df.set_index('Properties', inplace=True)
df

                                    Mars            Earth
Properties
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [15]:
# Convert the data to HTML table by pandas
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Properties</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [16]:
hemi_url = 'https://marshemispheres.com/'

browser.visit(hemi_url)

In [17]:
# Create a list for image url and titles
hemi_img_urls = []

# Get a list of all the hemispheres
links = browser.find_by_css('a.product-item img')

for i in range(len(links)):
    hemisphere_info = {}

    browser.find_by_css('a.product-item img')[i].click()

    img = browser.links.find_by_text('Sample').first
    hemisphere_info['img_url'] = img['href']
    hemisphere_info['title'] = browser.find_by_css('h2.title').text

    hemi_img_urls.append(hemisphere_info)

    browser.back()

In [18]:
hemi_img_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [19]:
browser.quit()